@import './constants.css';

/* --- LAYOUT OPMAAK VOOR SJABLOON --- */
body {
  background-image: url("./RESOURCES/background.png");
  z-index: -100;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  margin: 6rem 20vw 0 20vw;
  background-color: var(--bg-1);
  padding: 2rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 15px;
}

/* klein beetje responsive design, voor kleinere schermen */
@media only screen and (max-width: 640px) {
  main {
    margin: 6rem 5vw 0 5vw;
  }
}
@media only screen and (max-width: 1280px) {
  main {
    margin: 6rem 10vw 0 10vw;
  }
}

/* --- LAYOUT OPMAAK PER PAGINA --- */
.kosten {
  display:grid;
  column-gap: 3rem;
  grid-template-columns: 1fr 1fr;
}

.teamnl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}
.teamnl>div>img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.teamnl>div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.deelnemers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.stadia {
display: flex;
flex-direction: column;
}

.stadia>div>img { 
  width: 75%; 
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

